body {
    text-align: center;
}

.Contact {
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    display: inline-block;
    justify-content: center;
}

.Contact h1,h2,p {
    color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial bold', Arial, sans-serif;
    transition: 0.5s;
    margin: 10px;
}

.ContactMethods {
    background-color: rgb(47, 48, 47);
    border: 1px, solid, black;
    border-radius: 10px;

    height: auto;
    min-height: 20vh;
    max-height: 40vh;

    width: auto;
    min-width: 50%;
    max-width: 100%;
}

.ContactMethods ul {
   
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

.ContactMethods ul li {
    float: left;
    padding: 10px;
    transition: 0.5s;
}

.contactMethod {
    margin: 10px, 10px, 10px, 10px;
    justify-content: center;
    align-content: center; 

    border: 1px, solid, black;
    border-radius: 10px;
}

.Contact a {
    float: left;
    margin: 10px;
    font-size: 35px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.Contact a:hover {
    color: rgb(0, 81, 255);
    transition: 0.5s;
}