body {
    background-image: url(../assets/images/MainImage.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(68, 67, 67);
}

.Home {
     color: white;
     padding-left: 8%;
     padding-top: 12%;
}
.Home h1 {font-family:'Franklin Gothic Medium', 'Arial bold', Arial, sans-serif}

.Home button {
    background: none;

    min-width: 20%;
    min-height: 40px;
    width: auto;
    height: auto;

    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    

    border: 1px;
    border-style: solid;
    border-color: white;
}

#ProfileIMG {
    border-radius: 180px;
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
    clip-path: circle();
    width: 15%;
}
