body {
    background-image: url(../assets/images/MainImage.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(68, 67, 67);
    background-blend-mode: overlay;
    text-align: center;
}

/* Header */
.MainNavigation {
    text-align: center;
}

.MainNavigation ul {
    display: inline-block;
    margin: 0;
    padding: 20px;
    list-style-type: none;
}


.MainNavigation li {
    float: left;
    padding: 10px;
}

.MainNavigation #MainHeader {
    color: white;
    min-height: 20px;
}

.MainNavigation a {
    color: rgb(197, 189, 189);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;

    background: none;
    display: inline-block;
    padding: 5px;

    min-width: 15%;
    min-height: 45px;
    width: auto;
    height: auto;

    text-align: center;
    align-content: center;

    transition: 0.5s;
    
    /* border: 0px;
    border-style: solid;
    border-color: white;
    border-radius: 5px; */
}

/* Header Animations */
.MainNavigation a:hover {
    color: white;
    text-align: center;
    font-size: 25px;

    border: 1px;
    border-style: solid;
    border-radius: 5px;
    
    transition: 0.5s;
}

/* Site Wide Profile Images */

#ProfileIMG {
    border-radius: 180px;
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
    clip-path: circle();
    width: 10%;
    /* margin-right: 5%; */
}

/* Footer */
footer {
    background-color: rgba(49, 48, 48, 0.82);
    margin-top: 30px;
    margin-left: 3%;
    width: 90%;
    padding: 70px 30px 20px;

    border: 0px;
    border-style: solid;
    border-radius: 10px;

    color: white;
    text-align: center;
}

footer #ProfileIcon {
    text-align: center;
}

footer #ProfileIcon img {
    border-radius: 180px;
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
    clip-path: circle();
    width: 10%;
}

/* Footer Social Icons */
footer #Socials {
    display: flex;
    justify-content: center;
}

footer #Socials a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

footer #Socials i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* Social Icons Hover Animations */
footer #Socials a:hover {
    background-color: #111;
    transition: 0.5s;
}

footer #Socials a:hover i {
    color: white;
    transition: 0.5s;
}

/* Social icons navigation bar */
footer #footerNav {
    margin: 30px 0;
}

footer #footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer #footerNav ul li a {
    text-decoration: none;

    color: white;
    margin: 20px;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 1s;
}

footer #footerNav ul li a:hover {
    opacity: 1;
}

footer #footerBottom {
    background-color: #212020;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

/* Media Query */
@media (max-width: 700px){
   .MainNavigation ul {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    footer #footerNav ul {
        display: block;
        margin-right: 13%;
    }

    footer #footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    footer #Socials {
        display: inline-block;
    }

    footer #Socials a {
        width: 35%;
        display: block;
    }

    footer #Socials i {
       font-size: 1em;
    }
}